@font-face {
    font-family: "Guifx";
    src: url('../fonts/Guifx v2 Transports.ttf');
}

html, body {
	font-family: arial;
	margin:0;
	padding:0;
}

body {
	background:#F1F1F1;
}

#header {
	padding-top: 0;
	background:white;
	border-bottom:solid 4px #0089CF;
	z-index:4;
	position:fixed;
	-webkit-transition: 0.4s;
}

	#header-border {
		border-bottom:solid 4px #F5931F;
	}
	
	#conteneur_header {
		margin: 0 auto;
		width: 950px;
		height: 50px;
	}

	.floatable {
		box-shadow:0px 2px 8px rgba(0,0,0,0.25);
	}

#contenu {
	margin-bottom:40px;
	height:150px;
}
	
	#contenu p {
		color:black;
	}
	
	.titre {
		font-size:20px;
		margin-top:0; 
		margin-left:0;
		text-align:left;
		border-bottom:2px solid;
	}
	
		.trait {
			text-decoration:line-through;
			white-space: nowrap
		}

#presentation {
	color:#F5941F;
	margin-left:40px;
	width: 400px;
	height:300px;
	display: block;
	float: left;
	height: 200px;
}

#webmail {
	color:#0089CF;
	margin-right:40px;
	border-radius: 10px;
	width: 400px;
	float:right;
	position:relative;
	display: inline-block;
	height: 200px;
}

#logo {
	width: 103px;
	float:left;
	margin-left:40px;
	margin-top:1px;
}

/************* MENU *************/

#menu {
	float:right;
	margin-right:40px;
}

#menu a {  
    display:block;  
    color: black;  
    text-decoration:none; 	
}  
#menu > li,  
#menu > li li {  
	position: relative;
    display:inline-block;  
    width: 100px;  
    text-align:center; 
}  
#menu > li li { background: transparent none; }  
#menu > li li a { color: #444; }  
#menu > li li:hover { background:#eee; }  
#menu > li:first-child {
}  
#menu > li + li { 
border-left:1px solid #E7E6E6;
}  
#menu > li:last-child {     
}  
#menu > li:hover {    
	z-index: 4;
}  

#menu ul {  
    position: absolute;
    top: 2em; left:0;  
    max-height:0em;  
    margin:0; padding:0;  
    background-color:#ddd;  
    background-image: linear-gradient(#fff,#ddd);  
    overflow:hidden;  
    transition: 1s max-height 0.3s;  
    border-radius: 0 0 8px 8px;  
}  
/* ici on change la valeur de max-height au :hover */  
#menu > li:hover ul {  
    /* need an adaptation, lower is better, but see it large   */  
    max-height:13em;  
}  

/************* CONTENEUR INDEX *************/

#conteneur {
	background:white;
	width: 950px;
	height:auto;
	padding-top:60px;
	margin: 0 auto;
	position:static;
	height:auto;
	font-size:15px;
	border:1px solid #C1C1C1;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

/************* CARROUSEL *************/
.carrousel-conteneur {
	margin:-3px auto 40px;
	height:350px;
	width:auto;
	overflow: hidden;
	position:relative;
}
	
	.carrousel {
		background:white;
		height:350px;
		margin-top:0;
		overflow:hidden;
	}

		.diapo {
			height:350px;
			margin-top:0;
		}
		
			.diapo li{
				width:950px;
				height:350px;
				list-style:none;
				float: right;
				position:relative;
			}

	.bouton-lecture {
	    float: right;
	    position: relative;
	    width: 23px;
	    height: 23px;
	    margin: -40px 10px;
	    border: 5px solid transparent;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 20px;
	    line-height: 1.2;
	    color: #CCCCCC;
	    font-family: "Guifx";
	    -webkit-transition: 0.2s;
	    cursor: pointer;
	}

		.bouton-lecture:hover {
			border: 5px solid white;
			background:white;
		}

			

/************* FOOTER *************/

#footer {
	border-top: 1px solid #E7E6E6;
	font-size:10px;
	width:90%;
	margin: 0 auto;
}

#footer p{
	margin-right: 20px;
}

#footer table {
	margin: 0 auto;
}

#pre-footer {
	border-top:4px solid #0089CF;
	padding-top: -30px;
	font-size:12px;
	background:white;
}

	#contenu-pre-footer {
		margin:10px auto;
		text-align: center;
	}

#pre-footer-orange {
	border-top:4px solid #F5931F;
}